<h1>Your Period Schedule</h1>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    
  </tr>

<% @periods.each do |period| %>
  <tr>
    <td><%= period.started_at %></td>
    <td><%= period.finished_at %></td>

  </tr>
<% end %>
</table>

<br />
<%= link_to "New Period Schedule?",new_profile_period_url(@profile), :class => "btn" %>