<p id="notice"><%= notice %></p>

<p>
  <b>Started at:</b>
  <%= @period.started_at %>
</p>

<p>
  <b>Finished:</b>
  <%= @period.finished_at %>
</p>





 <%= link_to "My Period Schedule", profile_periods_path(@profile), :class => "btn" %>

