<% provide(:title, 'Contact') %>
<h1>About</h1>


<h4>About Application</h4>
<p>
  CalBook is an application that counts how many calories that you have already eaten. A user can put whaat they eat daily and it will visualize in order to make easier for user to know how much calories they have already eaten for some days. There is also tips for example what user should consume to make their body healthier.
</p>

<h4>Source of Pictures</h4>
	<li><ul>Green Tea was taken by Rai Rai Ken</ul></li>
  	<li><ul>Lemon was taken by Chugy</ul></li>
  	<li><ul>Oatmeal was taken by JaBB</ul></li>
  	<li><ul>Mineral Water was taken by Philippe Put</ul></li>
  	<li><ul>Blueberry was taken by Mr. T in DC </ul></li>