<div class="startContent" >
	<h1>Welcome to <%= image_tag "rails.png", :alt => "HealthApp", :width => "300px" %> </h1>

<div class="content">
		<p>Welcome on Health App
		Health App is an application that can make you really really health. 
		</p>
			

</div>

</div>
