<div class="center hero-unit" >
	<h1>Welcome to <%= image_tag "logo2.jpg", :alt => "HealthApp", :width => "300px" %> CalBook </h1>


    <h2>An application that can make you really really healthy!</h2>

    <%= link_to "Sign up now!", new_user_path, :class => "btn btn-large btn-primary" %>
</div>

