<div class="center hero-unit" >
	<h1>WELCOME TO <%= image_tag "logoMyCalBook.png", :alt => "HealthApp", :width => "225px" %></h1>


    <h2>Count the calories and be healthy!</h2>

    <% if ! signed_in? %>
           <%= link_to "Sign up now!", signup_path, :class => "btn btn-large btn-primary" %>
        <% end %>
    
</div>

