<div class="startContent" >
	<h1>Welcome to <%= image_tag "logo2.jpg", :alt => "HealthApp", :width => "300px" %> CalBook </h1>

    <p>Welcome on Health App
		Health App is an application that can make you really really health..</p>
</div>
<div class="container">
			<%= link_to "Sign up now!", new_user_path, :class => "btn btn-large btn-primary" %>
</div>

