<div class="center hero-unit" >
	<h1><%= image_tag "logo3.jpg", :alt => "HealthApp", :width => "225px" %>Welcome to  CalBook </h1>


    <h2>An application that can make you really really healthy!</h2>

    <%= link_to "Sign up now!", signup_path, :class => "btn btn-large btn-primary" %>
</div>

