<div class="container">
<h3>The Statistic of my daily total calories</h3>
 
<%= javascript_tag do %>

 //var  data = <%= raw Daily.all.to_json %>
 d3.json('', 
            function(data){
              
                var margin = {top: 20, right: 20, bottom: 30, left: 40},
                width = 960 - margin.left - margin.right,
                height = 610 - margin.top - margin.bottom;

                var x = d3.time.scale()
                .domain([new Date(2012, 11, 30), new Date(2013, 3, 01)])
                .range([0, width]);

                var y = d3.scale.linear()
                .domain([0,500])
                .range([200, 0]);

                var xAxis = d3.svg.axis()
                    .scale(x)
                    .orient("bottom");

                var yAxis = d3.svg.axis()
                    .scale(y)
                    .orient("left")

                var svg = d3.select("body").append("svg")
                    .attr("width", width)
                    .attr("height", height)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
     

                svg.append("g") // Render the axis by calling a <g> selection.
                    .attr("transform", "translate(0," + y.range()[0] + ")") //setzt x-achse an null punkt von y-achse
                    .attr("class", "x axis")
                    .call(xAxis)
                    .append("text")
                      .attr("transform", "translate(800)")
                      .attr("x", 8)
                      .attr("dx", "0.9em")
                      .style("text-anchor", "end")
                      .text("Date");   

                svg.append("g")
                    .attr("class", "y axis")
                    .call(yAxis)
                    .append("text")
                      .attr("transform", "rotate(-90)")
                      .attr("y", 8)
                      .attr("dy", "0.9em")
                      .style("text-anchor", "end")
                      .text("Total Calories");

                svg.selectAll(".bar")
                    .data(data)
                    .enter().append("rect")
                    .attr("class", "bar")
                    .attr("x", function(d) { return x(new Date(d.calculated_at)); })
                    .attr("width",  20)
                    .attr("y", function(d) { console.log(d.total); return y(d.total); })
                    .attr("height", function(d) { return 200-y(d.total); });

                d3.selectAll(".bar")
                    .on('mouseover', function(d){
                        svg.append('text')
                        .attr("x", x(new Date(d.calculated_at)))
                        .attr("y", y(d.total))
                        .text(d.content)
                        .attr('class','tip')
                        .style("font-size","1.5em")
                    })
                    .on('mouseout', function(d){
                        d3.selectAll(".tip").remove()
                    });    

         }); 
              
<% end %>
</div>