<p id="notice"><%= notice %></p>


<p>
  <b>Date:</b>
  <%= @daily.calculated_at %>
</p>
<p>
  <b>Total:</b>
  <%= @daily.total %>
</p>




 <%= link_to "List of my daily Foods", dailies_path, :class => "btn" %>