@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

h1{
	font-size: 2em !important;
}

body {
  padding-top: 60px;
}

title{
	font-size: 2em !important;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.content{
	margin-right:150px;
	margin-left: 150px;
	text-align:justify;

}

.startContent{
	text-align:center
}

.container{
	text-align:center;
}